sessie-4/nodered/flow_api_workorder.json
[
    {
        "id": "tab-api-werkorder",
        "type": "tab",
        "label": "Werkorder → UMH API",
        "disabled": false,
        "info": "Sessie 4: Node-RED flow die werkorders aanmaakt via de UMH Core REST API.\n\nVereist: de api-werkorder standalone flow in UMH Core (poort 8090).\n\nTest met curl:\n  curl -X POST http://localhost:1880/api/werkorder \\\n    -H 'Content-Type: application/json' \\\n    -d '{\"order_nr\": \"WO-001\", \"product\": \"BRACKET-A1\", \"qty\": 100, \"customer\": \"Metaalwerk BV\", \"priority\": 1, \"due_date\": \"2026-04-23\"}'"
    },
    {
        "id": "node-http-in",
        "type": "http in",
        "z": "tab-api-werkorder",
        "name": "POST /api/werkorder",
        "url": "/api/werkorder",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [["node-build-umh-call"]]
    },
    {
        "id": "node-build-umh-call",
        "type": "function",
        "z": "tab-api-werkorder",
        "name": "Bouw UMH API call",
        "func": "// Valideer\nif (!msg.payload.order_nr) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"order_nr is verplicht\" };\n    return [null, msg];\n}\n\n// Bewaar input voordat we payload overschrijven\nvar input = msg.payload;\n\n// Bouw UMH Core API payload\nmsg.url = \"http://umh-core:8090/api/v1/\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    event_type: \"order.created\",\n    line_id: input.asset || \"production\",\n    data: {\n        id: input.order_nr,\n        product_id: input.product || \"onbekend\",\n        planned_qty: input.qty || 1,\n        customer: input.customer || null,\n        priority: input.priority || null,\n        due_date: input.due_date || null\n    }\n};\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [["node-post-umh"], ["node-http-response"]]
    },
    {
        "id": "node-post-umh",
        "type": "http request",
        "z": "tab-api-werkorder",
        "name": "POST UMH Core API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://umh-core:8090/api/v1/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 120,
        "wires": [["node-ok-response"]]
    },
    {
        "id": "node-ok-response",
        "type": "function",
        "z": "tab-api-werkorder",
        "name": "200 OK",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    status: \"ok\",\n    message: \"Werkorder gepubliceerd naar UMH UNS\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 120,
        "wires": [["node-http-response"]]
    },
    {
        "id": "node-http-response",
        "type": "http response",
        "z": "tab-api-werkorder",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 180,
        "wires": []
    }
]
