sessie-4/nodered/flow_polling_nocodb_v2_local.json
[
    {
        "id": "tab-polling-v2",
        "type": "tab",
        "label": "Polling NocoDB v2 (local) → UNS",
        "disabled": false,
        "info": "Sessie 4: Poll werkorders uit lokale NocoDB (self-hosted, API v2).\n\nVervang TABLE_ID_HIER met je tabel ID.\nVervang XC_TOKEN_HIER met je NocoDB API token.\n\nAPI v2 response: { list: [ { order_nr, product, asset, qty, customer, priority, due_date, status } ] }\n\nStatus mapping: Nieuw → order.created, Bezig → order.progress, Klaar → order.closed"
    },
    {
        "id": "node-inject-poll-v2",
        "type": "inject",
        "z": "tab-polling-v2",
        "name": "Poll (handmatig)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [["node-get-nocodb-v2"]]
    },
    {
        "id": "node-get-nocodb-v2",
        "type": "http request",
        "z": "tab-polling-v2",
        "name": "GET NocoDB v2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://nocodb:8080/api/v2/tables/TABLE_ID_HIER/records",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {"keyType": "other", "keyValue": "xc-token", "valueType": "other", "valueValue": "XC_TOKEN_HIER"}
        ],
        "x": 390,
        "y": 140,
        "wires": [["node-extract-v2"]]
    },
    {
        "id": "node-extract-v2",
        "type": "function",
        "z": "tab-polling-v2",
        "name": "v2 → UMH payload",
        "func": "// NocoDB v2: { list: [ { order_nr, product, asset, qty, customer, priority, due_date, status } ] }\nvar rows = msg.payload.list || [];\n\n// Status mapping: NocoDB → UMH event type\nvar statusMap = {\n    \"Nieuw\": \"order.created\",\n    \"Bezig\": \"order.progress\",\n    \"Klaar\": \"order.closed\"\n};\n\nvar messages = rows.map(function(r) {\n    var eventType = statusMap[r.status] || \"order.created\";\n    var payload = {\n        event_type: eventType,\n        line_id: r.asset || \"onbekend\",\n        data: {\n            id: r.order_nr,\n            product_id: r.product || r.order_nr,\n            planned_qty: r.qty || 0,\n            customer: r.customer || null,\n            priority: r.priority || null,\n            due_date: r.due_date || null\n        }\n    };\n\n    // Voor progress/closed: voeg quantity velden toe\n    if (eventType === \"order.progress\" || eventType === \"order.closed\") {\n        payload.data.good_qty = r.qty_completed || 0;\n        payload.data.scrap_qty = r.qty_scrap || 0;\n    }\n\n    return {\n        payload: payload,\n        headers: { \"Content-Type\": \"application/json\" }\n    };\n});\n\nnode.status({text: rows.length + \" werkorders → UNS\"});\nreturn [messages];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [["node-post-uns-v2", "node-debug-v2"]]
    },
    {
        "id": "node-post-uns-v2",
        "type": "http request",
        "z": "tab-polling-v2",
        "name": "POST → UMH Core API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://umh-core:8090/api/v1/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 220,
        "wires": [["node-debug-uns-v2"]]
    },
    {
        "id": "node-debug-v2",
        "type": "debug",
        "z": "tab-polling-v2",
        "name": "Werkorders",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "node-debug-uns-v2",
        "type": "debug",
        "z": "tab-polling-v2",
        "name": "UNS response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "msg",
        "x": 830,
        "y": 220,
        "wires": []
    }
]
