sessie-4/nodered/flow_event_out_dashboard.json
[
    {
        "id": "tab-event-out",
        "type": "tab",
        "label": "Event OUT — Dashboard → NocoDB",
        "disabled": false,
        "info": "Sessie 4: Node-RED Dashboard formulier dat een werkorder aanmaakt in NocoDB via REST API.\n\nVervang XC_TOKEN_HIER en REPLACE_TABLE_ID met je eigen waarden."
    },
    {
        "id": "group-werkorder",
        "type": "ui_group",
        "name": "Werkorder aanmaken",
        "tab": "tab-dashboard-ui",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab-dashboard-ui",
        "type": "ui_tab",
        "name": "Event OUT",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "node-form",
        "type": "ui_form",
        "z": "tab-event-out",
        "name": "Werkorder formulier",
        "group": "group-werkorder",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            { "label": "Order Nr", "value": "order_nr", "type": "text", "required": true, "rows": null },
            { "label": "Product", "value": "product", "type": "text", "required": true, "rows": null },
            { "label": "Asset", "value": "asset", "type": "text", "required": true, "rows": null },
            { "label": "Aantal", "value": "qty", "type": "number", "required": true, "rows": null },
            { "label": "Klant", "value": "customer", "type": "text", "required": false, "rows": null },
            { "label": "Status", "value": "status", "type": "text", "required": false, "rows": null }
        ],
        "formValue": {
            "order_nr": "",
            "product": "",
            "asset": "laser-cutter-L1-01",
            "qty": 1,
            "customer": "",
            "status": "Nieuw"
        },
        "payload": "",
        "submit": "Werkorder aanmaken",
        "cancel": "Wissen",
        "topic": "werkorder",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 170,
        "y": 120,
        "wires": [["node-build-body"]]
    },
    {
        "id": "node-build-body",
        "type": "function",
        "z": "tab-event-out",
        "name": "Build body + headers",
        "func": "// Vervang XC_TOKEN_HIER door je NocoDB API token\nvar token = \"XC_TOKEN_HIER\";\n\nmsg.headers = {\n    \"xc-token\": token,\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    \"order_nr\": msg.payload.order_nr,\n    \"product\": msg.payload.product || \"\",\n    \"asset\": msg.payload.asset,\n    \"qty\": msg.payload.qty,\n    \"customer\": msg.payload.customer || \"\",\n    \"status\": msg.payload.status || \"Nieuw\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [["node-post-nocodb"]]
    },
    {
        "id": "node-post-nocodb",
        "type": "http request",
        "z": "tab-event-out",
        "name": "POST NocoDB",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://nocodb:8080/api/v2/tables/REPLACE_TABLE_ID/records",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 120,
        "wires": [["node-response-check"]]
    },
    {
        "id": "node-response-check",
        "type": "switch",
        "z": "tab-event-out",
        "name": "Status check",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "200", "vt": "num" },
            { "t": "else" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 120,
        "wires": [["node-ok"], ["node-error"]]
    },
    {
        "id": "node-ok",
        "type": "ui_text",
        "z": "tab-event-out",
        "group": "group-werkorder",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Succes",
        "label": "Status",
        "format": "✅ Werkorder aangemaakt!",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#00a000",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "node-error",
        "type": "ui_text",
        "z": "tab-event-out",
        "group": "group-werkorder",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Fout",
        "label": "Status",
        "format": "❌ Fout bij aanmaken — check Node-RED debug",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#cc0000",
        "x": 1020,
        "y": 140,
        "wires": []
    }
]
