sessie-4/nodered/flow_polling_nocodb_v3_cloud.json
[
    {
        "id": "tab-polling-v3",
        "type": "tab",
        "label": "Polling NocoDB v3 (cloud) → UNS",
        "disabled": false,
        "info": "Sessie 4: Poll werkorders uit NocoDB Cloud (app.nocodb.com, API v3).\n\nVervang BASE_ID_HIER en TABLE_ID_HIER met je eigen waarden.\nVervang XC_TOKEN_HIER met je NocoDB API token (account → tokens).\n\nAPI v3 response: { records: [ { id, fields: { order_nr, product, asset, qty, customer, priority, due_date, status } } ] }\n\nStatus mapping: Nieuw → order.created, Bezig → order.progress, Klaar → order.closed"
    },
    {
        "id": "node-inject-poll-v3",
        "type": "inject",
        "z": "tab-polling-v3",
        "name": "Poll (handmatig)",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [["node-get-nocodb-v3"]]
    },
    {
        "id": "node-get-nocodb-v3",
        "type": "http request",
        "z": "tab-polling-v3",
        "name": "GET NocoDB v3 Cloud",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.nocodb.com/api/v3/data/BASE_ID_HIER/TABLE_ID_HIER/records",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {"keyType": "other", "keyValue": "xc-token", "valueType": "other", "valueValue": "XC_TOKEN_HIER"}
        ],
        "x": 410,
        "y": 140,
        "wires": [["node-extract-v3"]]
    },
    {
        "id": "node-extract-v3",
        "type": "function",
        "z": "tab-polling-v3",
        "name": "v3 → UMH payload",
        "func": "// NocoDB v3: { records: [ { id, fields: { order_nr, product, asset, qty, customer, priority, due_date, status } } ] }\nvar records = msg.payload.records || [];\n\nvar statusMap = {\n    \"Nieuw\": \"order.created\",\n    \"Bezig\": \"order.progress\",\n    \"Klaar\": \"order.closed\"\n};\n\nvar messages = records.map(function(rec) {\n    var f = rec.fields || rec;\n    var eventType = statusMap[f.status] || \"order.created\";\n    var payload = {\n        event_type: eventType,\n        line_id: f.asset || \"onbekend\",\n        data: {\n            id: f.order_nr,\n            product_id: f.product || f.order_nr,\n            planned_qty: f.qty || 0,\n            customer: f.customer || null,\n            priority: f.priority || null,\n            due_date: f.due_date || null\n        }\n    };\n\n    if (eventType === \"order.progress\" || eventType === \"order.closed\") {\n        payload.data.good_qty = f.qty_completed || 0;\n        payload.data.scrap_qty = f.qty_scrap || 0;\n    }\n\n    return {\n        payload: payload,\n        headers: { \"Content-Type\": \"application/json\" }\n    };\n});\n\nnode.status({text: records.length + \" werkorders → UNS\"});\nreturn [messages];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 140,
        "wires": [["node-post-uns-v3", "node-debug-v3"]]
    },
    {
        "id": "node-post-uns-v3",
        "type": "http request",
        "z": "tab-polling-v3",
        "name": "POST → UMH Core API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://umh-core:8090/api/v1/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 220,
        "wires": [["node-debug-uns-v3"]]
    },
    {
        "id": "node-debug-v3",
        "type": "debug",
        "z": "tab-polling-v3",
        "name": "Werkorders",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "node-debug-uns-v3",
        "type": "debug",
        "z": "tab-polling-v3",
        "name": "UNS response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "statusCode",
        "targetType": "msg",
        "statusVal": "statusCode",
        "statusType": "msg",
        "x": 860,
        "y": 220,
        "wires": []
    }
]
